h1 {font-family: 'League Gothic', sans-serif;
    font-size: 100px;
    text-align: center;
    color:cadetblue;
}
body{
    background-color: rgb(19, 30, 97);
    padding: 3%;
}
.pesquisa{
    font-weight: 700;
}
div{
    text-align: center;
}
#circle{
    border-radius: 50%;
    width: 380px;
    padding: 10px;
    background-color: black;
}
.indice {
    font-size: 40px;
   
}
li {color: silver;
    background-size: contain;
}
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
p {
    font-family: helvetica;
    font-size: 25px;
    color: aliceblue;
}
a {
    color: aliceblue;
    
}
.bl{
    height:400px;
    float: left;
}
.desc{
    height:400px;
    position:relative ;
}.al{
    position: absolute;
    top: 25%;
    right: 8%;
}
ul li:nth-child(odd){
    background-color: blueviolet;
}
